<div class="home_page_text">


<h2><em>mindful consumer</em> is about connecting people and businesses with the same values.
</h2>


<p>We recognise that not everyone has the ability to do all the sustainable things, all at once (or maybe not at all). But if you are here, that means you want to start, keep going or level up! <em>mindful consumer</em> is a centralised  resource of information to help us all make better choices, but in ways that suit our lifestyles, values and time or cost restrictions. </p><br>
</div>
<div class="hero_image_home">
<%= cl_image_tag "/assets/vegetables.jpg"  %>
</div>
