
/* Application CSS ================================ */






/* * {
  border: 1pt solid orange;
} */

.page_body {
  text-align: center;
}

body {
  margin: 0 40px;
  font-family: 'Nunito', sans-serif;
}

header {
  margin-bottom: 40px;
}

h1 {
  text-transform: lowercase;
  text-decoration: none;
}

a:active.header_title, a:visited.header_title {
    text-decoration: none;
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu > li {
  display: inline-block;
  padding-left: 20px;
  list-style-type: none;


  /* position: absolute; */
}

.menu {
  padding: 0;

}

footer{
  margin-top: 50px;
  text-align: center;

}


a:-webkit-any-link {
  cursor: pointer;
}


/* #=============vendor index page======================== */


.vendor_result_list {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(20%, 1fr));


}
.vendor_list {
  list-style-type: none;
  text-align: center;
  height: 200px;
  padding: 20px;
  margin: 20px;
}

.vendor_list > img {
  z-index: -1;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .vendor_result_list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30%, 1fr));
  }
}

@media (max-width: 800px) {
  .vendor_result_list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50%, 1fr));
  }
}


@media (max-width: 550px) {
  .vendor_result_list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(90%, 1fr));
  }
}

/* #=============vendor show page======================== */
.vendor_value_list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30%, 1fr));
}
.show_menu > li {
display: inline-block;
padding-left: 20px;
list-style-type: none;
}

.vendor_show_background {
  width: 60%;
}

.vendor_show_logo {
max-height: 125px;
}

.vendor_value_list_item, .vendor_cat_list_item {
  list-style-type: none;
  text-align: center;
  /* height: 250px; */
  padding: 20px;
  margin: 20px;
}

.vendor_value_list_item > img , .vendor_cat_list_item > img {
  max-height: 150px;
}

.values_cat_container {
  padding: 0 20%;
  text-align: center;

}

.vendor_cat_list, .vendor_value_list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20%, 1fr));
  justify-items: center;
  background-color: rgb(240, 240, 240);
  grid-auto-rows: auto;
}

.values_cat_container > h3 {
  margin: 0;
}
